<%#head.html%>


<div class="jumbotron masthead">
    <div class="container">
        <h1>SPEED FEX</h1>
        <h2>让web开发更迅速、简单。</h2>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="component-header page-header">
                <h2>文档列表</h2>
                <p>提供各种项目文档，对应组件由@阎金飞同学设计，前端小组开发</p>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="panel widget">
                <div class="widget-header bg-gray-dark">
                    <h3><i></i>Nifty</h3>
                </div>
                <div class="widget-body text-center">
                    <h4 class="mar-no">主题模板</h4>
                    <p class="text-muted mar-btm">From: http://www.themeon.net/nifty/v2.2/</p>
                    <p class="text-muted mar-btm">响应式的后台管理主题</p>
                    <div class="pad-ver">
                        <a href="http://www.themeon.net/nifty/v2.2/" class="btn btn-dark" target="_blank" rel="noreferrer">查看</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="panel widget">
                <div class="widget-header bg-gray-dark">
                    <h3>编码规范</h3>
                </div>
                <div class="widget-body text-center">
                    <h4 class="mar-no">项目文档</h4>
                    <p class="text-muted mar-btm">From:http://codeguide.bootcss.com/</p>
                    <p class="text-muted mar-btm">使用统一规范，让项目可维护性更高</p>

                    <div class="pad-ver">
                        <a href="http://codeguide.bootcss.com/" rel="noreferrer" class="btn btn-dark" target="_blank" rel="noreferrer">查看</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="panel widget">
                <div class="widget-header bg-gray-dark">
                    <h3>设计规范</h3>
                </div>
                <div class="widget-body text-center">
                    <h4 class="mar-no">项目文档</h4>
                    <p class="text-muted mar-btm">Author: @阎金飞</p>
                    <p class="text-muted mar-btm">前端开发都以设计为准</p>
                    <div class="pad-ver">
                        <a href="http://redmine.meilishuo.com/projects/oa/wiki/Speed%E3%80%81%E8%B4%A2%E5%8A%A1%E7%B3%BB%E7%BB%9F%E8%AE%BE%E8%AE%A1%E8%A7%84%E8%8C%83" class="btn btn-dark" target="_blank" rel="noreferrer">查看</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="panel widget">
                <div class="widget-header bg-gray-dark">
                    <h3>图标库</h3>
                </div>
                <div class="widget-body text-center">
                    <h4 class="mar-no">项目文档</h4>
                    <p class="text-muted mar-btm">Author: @阎金飞</p>
                    <p class="text-muted mar-btm">各式各样的图标</p>
                    <div class="pad-ver">
                        <a href="javascript:void(0);" class="btn btn-success" target="_blank" rel="noreferrer">文档</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="panel widget">
                <div class="widget-header bg-gray-dark">
                    <h3>前端文档</h3>
                </div>
                <div class="widget-body text-center">
                    <h4 class="mar-no">项目文档</h4>
                    <p class="text-muted mar-btm">Author: @speed</p>
                    <p class="text-muted mar-btm">又不懂的地方可以看文档</p>
                    <div class="pad-ver">
                        <a href="http://redmine.meilishuo.com/projects/oa/wiki/SPEED%E5%89%8D%E7%AB%AF%E6%96%87%E6%A1%A3" class="btn btn-dark" target="_blank" rel="noreferrer">查看</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="panel widget">
                <div class="widget-header bg-gray-dark">
                    <h3>Pagination</h3>
                </div>
                <div class="widget-body text-center">
                    <h4 class="mar-no">分页插件</h4>
                    <p class="text-muted mar-btm">Author: @speed</p>
                    <p class="text-muted mar-btm">支持各种场景的强大插件</p>
                    <div class="pad-ver">
                        <a href="/doc/pagination/" class="btn btn-success" target="_blank" rel="noreferrer">文档</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="panel widget">
                <div class="widget-header bg-gray-dark">
                    <h3>Approval</h3>
                </div>
                <div class="widget-body text-center">
                    <h4 class="mar-no">审批页</h4>
                    <p class="text-muted mar-btm">Author: @方宇辰</p>
                    <p class="text-muted mar-btm">仿邮箱风格的审批页面</p>
                    <div class="pad-ver">
                        <a href="#" class="btn btn-success" target="_blank" rel="noreferrer">文档</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="panel widget">
                <div class="widget-header bg-gray-dark">
                    <h3>Timeline</h3>
                </div>
                <div class="widget-body text-center">
                    <h4 class="mar-no">时间轴/线</h4>
                    <p class="text-muted mar-btm">Author: @speed</p>
                    <p class="text-muted mar-btm">可复用的样式</p>
                    <div class="pad-ver">
                        <a href="/doc/timeline/" class="btn btn-success" target="_blank" rel="noreferrer">文档</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="panel widget">
                <div class="widget-header bg-gray-dark">
                    <h3>Notify</h3>
                </div>
                <div class="widget-body text-center">
                    <h4 class="mar-no">信息提醒</h4>
                    <p class="text-muted mar-btm">Author: @speed</p>
                    <p class="text-muted mar-btm">风格统一的弹框提醒</p>
                    <div class="pad-ver">
                        <a href="/doc/notify/" class="btn btn-success" target="_blank" rel="noreferrer">文档</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-lg-3">
            <div class="panel widget">
                <div class="widget-header bg-gray-dark">
                    <h3>treeInput</h3>
                </div>
                <div class="widget-body text-center">
                    <h4 class="mar-no">树形输入框</h4>
                    <p class="text-muted mar-btm">Author: @speed</p>
                    <p class="text-muted mar-btm">基于zTree的树形搜索框</p>
                    <div class="pad-ver">
                        <a href="#" class="btn btn-success" target="_blank" rel="noreferrer">文档</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-lg-3">
            <div class="panel widget">
                <div class="widget-header bg-gray-dark">
                    <h3>select</h3>
                </div>
                <div class="widget-body text-center">
                    <h4 class="mar-no">模拟的下拉控件</h4>
                    <p class="text-muted mar-btm">Author: @方宇辰</p>
                    <p class="text-muted mar-btm">模拟select 的下拉选择控件</p>
                    <div class="pad-ver">
                        <a href="#" class="btn btn-success" target="_blank" rel="noreferrer">文档</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-lg-3">
            <div class="panel widget">
                <div class="widget-header bg-gray-dark">
                    <h3>NavTab</h3>
                </div>
                <div class="widget-body text-center">
                    <h4 class="mar-no">各种样式的Tab</h4>
                    <p class="text-muted mar-btm">Author: @speed</p>
                    <p class="text-muted mar-btm">各种风格的Tab样式</p>
                    <div class="pad-ver">
                        <a href="/doc/navtabs/" class="btn btn-success" target="_blank" rel="noreferrer">文档</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-lg-3">
            <div class="panel widget">
                <div class="widget-header bg-gray-dark">
                    <h3>Upload</h3>
                </div>
                <div class="widget-body text-center">
                    <h4 class="mar-no">统一的附件上传插件</h4>
                    <p class="text-muted mar-btm">Author: @speed</p>
                    <p class="text-muted mar-btm">支持各种使用的上传场景</p>
                    <div class="pad-ver">
                        <a href="/doc/upload/" class="btn btn-success" target="_blank" rel="noreferrer">文档</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-lg-3">
            <div class="panel widget">
                <div class="widget-header bg-gray-dark">
                    <h3>Trees</h3>
                </div>
                <div class="widget-body text-center">
                    <h4 class="mar-no">树形数据查找选择</h4>
                    <p class="text-muted mar-btm">Author: @speed</p>
                    <p class="text-muted mar-btm">体验更好的树形选择插件</p>
                    <div class="pad-ver">
                        <a href="/doc/trees/" class="btn btn-success" target="_blank" rel="noreferrer">文档</a>
                    </div>
                </div>
            </div>
        </div>


    </div>




    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="component-header">
                <h2>第三方插件</h2>
                <p>以下插件均来源网络</p>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="panel widget">
                <div class="widget-header bg-dark">
                    <h3>artTemplate</h3>
                </div>
                <div class="widget-body text-center">
                    <h4 class="mar-no">JS模板引擎</h4>
                    <p class="text-muted mar-btm">© tencent.com</p>
                    <p class="text-muted mar-btm">性能卓越的 js 模板引擎<br/><br/></p>

                    <div class="pad-ver">
                        <a href="http://aui.github.io/artTemplate/demo/" target="_blank" rel="noreferrer" class="btn btn-dark">DEMO</a>
                        <a href="https://github.com/aui/artTemplate/wiki/syntax:simple" target="_blank" rel="noreferrer" class="btn btn-success">文档</a>
                        <a href="https://github.com/aui/artTemplate/" target="_blank" rel="noreferrer" class="btn btn-success">Github</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="panel widget">
                <div class="widget-header bg-dark">
                    <h3>Bootbox.js</h3>
                </div>
                <div class="widget-body text-center">
                    <h4 class="mar-no">对话框</h4>
                    <p class="text-muted mar-btm">@makeusabrew</p>
                    <p class="text-muted mar-btm">Bootstrap modals made easy.<br/><br/></p>

                    <div class="pad-ver">
                        <a href="http://bootboxjs.com/examples.html" target="_blank" rel="noreferrer" class="btn btn-dark">DEMO</a>
                        <a href="http://bootboxjs.com/documentation.html" target="_blank" rel="noreferrer" class="btn btn-success">文档</a>
                        <a href="https://github.com/makeusabrew/bootbox" target="_blank" rel="noreferrer" class="btn btn-success">Github</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="panel widget">
                <div class="widget-header bg-dark">
                    <h3>cookie</h3>
                </div>
                <div class="widget-body text-center">
                    <h4 class="mar-no">Cookie操作</h4>
                    <p class="text-muted mar-btm">@makeusabrew</p>
                    <p class="text-muted mar-btm">A simple, lightweight JavaScript API for handling cookies</p>

                    <div class="pad-ver">
                        <a href="https://github.com/js-cookie/js-cookie" target="_blank" rel="noreferrer" class="btn btn-success">Github</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-lg-3">
            <div class="panel widget">
                <div class="widget-header bg-dark">
                    <h3>Dropzone</h3>
                </div>
                <div class="widget-body text-center">
                    <h4 class="mar-no">文件上传</h4>
                    <p class="text-muted mar-btm">@makeusabrew</p>
                    <p class="text-muted mar-btm">Bootstrap modals made easy.<br/><br/></p>

                    <div class="pad-ver">
                        <a href="http://www.dropzonejs.com/" target="_blank" rel="noreferrer" class="btn btn-dark">官网</a>
                        <a href="http://www.dropzonejs.com/#usage" target="_blank" rel="noreferrer" class="btn btn-success">文档</a>
                        <a href="https://github.com/enyo/dropzone" target="_blank" rel="noreferrer" class="btn btn-success">Github</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-lg-3">
            <div class="panel widget">
                <div class="widget-header bg-dark">
                    <h3>Moment.js</h3>
                </div>
                <div class="widget-body text-center">
                    <h4 class="mar-no">时间处理</h4>
                    <p class="text-muted mar-btm">@moment</p>
                    <p class="text-muted mar-btm">Parse, validate, manipulate, and display dates in javascript. </p>

                    <div class="pad-ver">
                        <a href="http://momentjs.com/" target="_blank" rel="noreferrer" class="btn btn-dark">官网</a>
                        <a href="http://momentjs.com/docs/" target="_blank" rel="noreferrer" class="btn btn-success">文档</a>
                        <a href="https://github.com/moment/moment/" target="_blank" rel="noreferrer" class="btn btn-success">Github</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-lg-3">
            <div class="panel widget">
                <div class="widget-header bg-dark">
                    <h3>store.js</h3>
                </div>
                <div class="widget-body text-center">
                    <h4 class="mar-no">数据存储</h4>
                    <p class="text-muted mar-btm">@moment</p>
                    <p class="text-muted mar-btm">兼容各种浏览器的localStorage离线存储方案<br/><br/></p>
                    <div class="pad-ver">
                        <a href="http://javascriptplayground.com/blog/2012/06/javascript-local-storage-store-js-tutorial/" target="_blank" rel="noreferrer" class="btn btn-dark">介绍</a>
                        <a href="https://github.com/marcuswestin/store.js/" target="_blank" rel="noreferrer" class="btn btn-success">Github</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-lg-3">
            <div class="panel widget">
                <div class="widget-header bg-dark">
                    <h3>Sortable</h3>
                </div>
                <div class="widget-body text-center">
                    <h4 class="mar-no">列表排序</h4>
                    <p class="text-muted mar-btm">@RubaXa</p>
                    <p class="text-muted mar-btm">用于拖拽排序列表的插件，支持各种浏览器、触屏等</p>
                    <div class="pad-ver">
                        <a href="http://rubaxa.github.io/Sortable/" target="_blank" rel="noreferrer" class="btn btn-dark">DEMO</a>
                        <a href="https://github.com/RubaXa/Sortable/" target="_blank" rel="noreferrer" class="btn btn-success">Github</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-lg-3">
            <div class="panel widget">
                <div class="widget-header bg-dark">
                    <h3>tokeninput</h3>
                </div>
                <div class="widget-body text-center">
                    <h4 class="mar-no">搜索输入框</h4>
                    <p class="text-muted mar-btm">@loopj</p>
                    <p class="text-muted mar-btm">A jQuery Tokenizing Autocomplete Text Entry</p>
                    <div class="pad-ver">
                        <a href="http://loopj.com/jquery-tokeninput/" target="_blank" rel="noreferrer" class="btn btn-dark">DEMO&文档</a>
                        <a href="https://github.com/loopj/jquery-tokeninput/" target="_blank" rel="noreferrer" class="btn btn-success">Github</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="panel widget">
                <div class="widget-header bg-dark">
                    <h3>datepicker</h3>
                </div>
                <div class="widget-body text-center">
                    <h4 class="mar-no">日期选择</h4>
                    <p class="text-muted mar-btm">@hunter.z</p>
                    <p class="text-muted mar-btm">bootstrap日期控件<br/><br/></p>
                    <div class="pad-ver">
                        <a href="http://eternicode.github.io/bootstrap-datepicker/" target="_blank" rel="noreferrer" class="btn btn-dark">DEMO</a>
                        <a href="http://bootstrap-datepicker.readthedocs.org/" target="_blank" rel="noreferrer" class="btn btn-success">文档</a>
                        <a href="https://github.com/eternicode/bootstrap-datepicker/" target="_blank" rel="noreferrer" class="btn btn-success">Github</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-lg-3">
            <div class="panel widget">
                <div class="widget-header bg-dark">
                    <h3>datetimepicker</h3>
                </div>
                <div class="widget-body text-center">
                    <h4 class="mar-no">日期+时间选择</h4>
                    <p class="text-muted mar-btm">@smalot</p>
                    <p class="text-muted mar-btm">基于Bootstrap 的日期+时间选择控件，支持Bootstrap v2&v3</p>
                    <div class="pad-ver">
                        <a href="http://www.malot.fr/bootstrap-datetimepicker/demo.php" target="_blank" rel="noreferrer" class="btn btn-dark">DEMO</a>
                        <a href="http://www.malot.fr/bootstrap-datetimepicker" target="_blank" rel="noreferrer" class="btn btn-success">文档</a>
                        <a href="https://github.com/smalot/bootstrap-datetimepicker" target="_blank" rel="noreferrer" class="btn btn-success">Github</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-lg-3">
            <div class="panel widget">
                <div class="widget-header bg-dark">
                    <h3>daterangepicker</h3>
                </div>
                <div class="widget-body text-center">
                    <h4 class="mar-no">时间范围选择器</h4>
                    <p class="text-muted mar-btm">@Dan Grossman</p>
                    <p class="text-muted mar-btm">Date range picker component for Bootstrap<br/><br/></p>
                    <div class="pad-ver">
                        <a href="http://www.daterangepicker.com/#examples" target="_blank" rel="noreferrer" class="btn btn-dark">DEMO</a>
                        <a href="http://www.daterangepicker.com/#usage" target="_blank" rel="noreferrer" class="btn btn-success">文档</a>
                        <a href="https://github.com/dangrossman/bootstrap-daterangepicker" target="_blank" rel="noreferrer" class="btn btn-success">Github</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-lg-3">
            <div class="panel widget">
                <div class="widget-header bg-dark">
                    <h3>BootstrapValidator</h3>
                </div>
                <div class="widget-body text-center">
                    <h4 class="mar-no">表单验证</h4>
                    <p class="text-muted mar-btm">@Dan Grossman</p>
                    <p class="text-muted mar-btm">Date range picker component for Bootstrap<br/><br/></p>
                    <div class="pad-ver">
                        <a href="http://www.themeon.net/nifty/v2.2/forms-validation.html" target="_blank" rel="noreferrer" class="btn btn-dark">DEMO</a>
                        <a href="http://bv.doc.javake.cn/api/" target="_blank" rel="noreferrer" class="btn btn-success">文档</a>
                        <a href="https://github.com/nghuuphuoc/bootstrapvalidator" target="_blank" rel="noreferrer" class="btn btn-success">Github</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-lg-3">
            <div class="panel widget">
                <div class="widget-header bg-dark">
                    <h3>zTree</h3>
                </div>
                <div class="widget-body text-center">
                    <h4 class="mar-no">树形控件</h4>
                    <p class="text-muted mar-btm">@hunter.z</p>
                    <p class="text-muted mar-btm">jQuery树形插件<br/><br/></p>
                    <div class="pad-ver">
                        <a href="http://www.ztree.me/v3/demo.php" target="_blank" rel="noreferrer" class="btn btn-dark">DEMO</a>
                        <a href="http://www.ztree.me/v3/api.php" target="_blank" rel="noreferrer" class="btn btn-success">api文档</a>
                        <a href="https://github.com/loopj/jquery-tokeninput/" target="_blank" rel="noreferrer" class="btn btn-success">项目地址</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<%#foot.html%>