#container{

  .table-printed{

    .title{

      th{
        text-align: left !important;
        padding:8px 0 8px 20px;
        font-size:18px;
      }
    }



    .extra td{
      color:#ccc;
    }
  }


  .head,.foot{
    background: #eee;
  }
}


.extra:not(.last) td{
  border-bottom-color:transparent !important;
}

.money{
  text-align: right !important;
}

#container .table td.show-money{
  text-align: right;
}