<%#head.html %>
<div id="container" class="effect mainnav-lg">
	<%#navbar.html %>

	<div class="boxed">
		<!--CONTENT CONTAINER-->
		<!--===================================================-->
		<div id="content-container" >
			<ol class="breadcrumb">
	          <li><a href="/home">主页</a></li>
	          <li class="active">个人中心</li>
	        </ol>
			<div id="page-content">

				<div class="panel row" style="min-width:580px">
					
					<div class="col-lg-2 col-sm-2 col-xs-2 user_left">
						<img class="head_img" src="<%if(this.userInfo.code==200){%><%= this.userInfo.data.user.avatar.avatar_middle %><%}%>">
						<span class="first-title">个人中心</span>
						<ul>
							<li ><a class="second-title" href="/user">基本信息</a></li>
							<li ><a class="second-title" href="/user/avatar/">修改头像</a></li>
							<li >
								<a class="second-title" href="javascript:void(0);">安全中心</a>
								<ul class="second-ul">
									<li><a class="thrid-title" href="/user/safe/password">修改密码</a></li>
									<li><a class="thrid-title" href="/user/safe/verification">手机验证</a></li>
									<li class="active"><a class="thrid-title" href="/user/safe/secretkey">动态密钥</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="col-lg-10 col-sm-10 col-xs-10 user_right">
						
						<div class="panel_pink">设置动态密钥</div>
						<form class="form-horizontal" id="form" >

							<div class="password_fix tap row">
								<div class="col-lg-8 col-sm-8 col-xs-8">
									<div class="form-group oldmobile">
										<label  class="col-lg-4 col-sm-4 col-xs-4 control-label">手机号</label>
										<label class="col-lg-5 col-sm-5 col-xs-5 control-label oldtel-secret">
											<%if(this.userInfoGet.code==200){%><%= this.userInfoGet.data.mobile_hidden%><%}%>
										</label>
										<div class="col-lg-3 col-sm-3 col-xs-3">
											<button type="button" class="send_message btn-beauty btn btn-small">发送验证码</button>
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-4 col-sm-4 col-xs-4 control-label ">输入验证码</label>
										<div class="col-lg-5 col-sm-5 col-xs-5">
											<input type="text" name="captcha" data-bv-notempty class="form-control verificationcode" value="">
										</div>

									</div>
									<div class="form-group btn_line">
										<label  class="col-lg-4 col-sm-4 col-xs-4 control-label"></label>
										<div class="col-lg-8 col-sm-8 col-xs-8">
											<button type="button" class="btn btn-beauty new_step">下一步</button>
										</div>
									</div>

								</div>

							</div>
							<div class="row second-row hide">
								<div class="col-lg-12 col-sm-12 col-xs-12">
									<div class="codesubdiv" style="text-align: center">
										<h4>手机打开美丽Speed,进入“更多”获取动态码</h4>
										<h6 class="text-unimportant">扫描下面的二维码</h6>
										<h6 class="text-unimportant">嘘！这是你的二维码，别让别人看去了哦~</h6>
										<img class="dynamicqrcodeimg" src=""
											 width="200" height="200"/>
										<h4>输入扫码获取的动态码</h4>
										<div style="width:200px;display: block;margin: 0 auto;">
											<input type="text" class="form-control code" value="">
										</div>
										<button type="button" class="btn btn-beauty submitcode">启动</button>
									</div>
									<div class="successdiv hide" style="text-align: center">
										<img src="<%= this.PICTURE_URL  %>img/speed/user/center_finish.png" width="100" height="100"/>
										<h4 class="green-word">你的动态码已配置成功</h4>
										<h4>以后没有你手机上的动态码，谁也别想冒用你的账号啦！</h4>
										<h6>动态码有效期为 <span class="pink-word">一个月</span>，过期后需要再次输入</h6>
									</div>
								</div>
							</div>
						</form>
					</div>

				</div>
			</div>
			<%#footer.html%>
		</div>

		<%#mainnav.html%>
	</div>

</div>

  
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
		fml.use('speed/common/base');
		fml.use('speed/user/secretkey');
_use:", this._JSstack , this._JSmods); %>

<%#foot.html%>