<script type="text/html" id="approval-history-offset">
    <style>
        #time{color: #a0a0a0;}
        .floatLeft{float: left;}
        .floatRight{float:right;}
        .payType{padding: 2px;background-color: #ff85ac; border-radius: 5px;  font-size: 10px;  color: #fff; }
        .addInfo{width: 80%; padding-left: 5px;}
        .offsetMoney{min-width: 60px;text-align: center}
        .currBalance{margin-left: 30px;float:right;}
    </style>
    <div class="timeline-wraper timeline-wraper-reverse hide">
        <div class="timeline timeline-mini history-fms timelinepl" style="float: right;width: 100%">
            {{each offsetlist as info}}
            <div class="timeline-entry {{if info.currBalance == 0}}active{{else}}{{/if}}">
                <div class="timeline-stat">
                    <div class="timeline-icon"></div>
                </div>
                <div class="timeline-label">
                    <div class="timeline-left" id="timeline-left">
                        <div class="uname">{{info.offsetDate}}</div>
                        <div class="time" id="time">
                            <span class="payType floatLeft">{{info.offsetWayName}}</span>
                            {{if info.offsetWay == '02' }}
                            <span class="addInfo">(单据编号:{{info.reverseBillno}})</span>
                            {{else}}
                            <span class="addInfo floatLeft">{{info.remark}}</span>
                            {{/if}}
                        </div>
                    </div>
                    <div class="timeline-right" id="timeline-right">
                        <span class="offsetMoney">{{info.offsetMoney | currencyFormat}}</span>
                        <span class="currBalance">剩余欠款 {{info.currBalance | currencyFormat}}</span>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</script>
