<meta charset="UTF-8">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">
<meta name="format-detection" content="address=no">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<style type="text/css">

    body {
        -webkit-text-size-adjust: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        font-family: "Microsoft YaHei", "微软雅黑" !important;
    }
    ul{
        list-style:none;
        padding:0;
        margin:0;
    }
    ul > li{
        margin-bottom: 12px;
    }

    @media only screen and (max-device-width: 768px) {

    }

    .mail-wrapper,.logo {
        width: 480px;
        margin: 0 auto;
    }
    .mail-wrapper{
        padding-bottom: 60px;
    }
    .logo {
        text-align: center;
        padding: 36px 0 36px 0;
    }
    .logo a{
        display: block;
        text-indent: -9999px;
        width: 128px;
        height: 44px;
        margin: 0 auto;
        background: url("http://d03.res.meilishuo.net/pic/_o/9c/aa/5c6923e009d9b28f4f3f54e28b24_128_44.ch.png");
    }

    .title{
        padding: 0 0 18px 0;
    }
    .title p,h3{
        margin:0;
        font-size: 18px;
        font-weight: normal;
    }
    .title p{
        color:#f6ad3c;
        margin-bottom: 14px;
    }
    .title h3{
        color:#444;
    }

    .content{
        font-size:14px;
        color:#666;
    }

    .btn-group{
        text-align: center;
        padding:50px 0;
    }
    .btn {
        display: inline-block;
        width: 88px;
        height: 41px;
        line-height: 41px;
        text-align:center;
        color:#707070;
        text-decoration: none;
        border: 1px solid #eee;
        border-radius: 8px;
    }

    .btn-view{
        width:48px;
        height:26px;
        line-height: 26px;
        background-color: #ACD696;
        color:#fff;
        font-size: 14px;
    }
    .btn-view:hover{
        background-color: #94C77C;
    }

</style>
<div class="logo">
    <a href="http://fms.speed.meilishuo.com" target="_blank">美丽说财务系统</a>
</div>
