<footer class="bs-docs-footer" role="contentinfo">
    <div class="container">

        <p>Designed and built with all the love in the world by <a href="https://twitter.com/mdo" target="_blank">@mdo</a> and <a href="https://twitter.com/fat" target="_blank">@fat</a>.</p>
        <p>Maintained by the <a href="https://github.com/orgs/twbs/people">core team</a> with the help of <a href="https://github.com/twbs/bootstrap/graphs/contributors">our contributors</a>.</p>
        <p>本项目源码受 <a rel="license" href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank">MIT</a>开源协议保护，文档受 <a rel="license" href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a> 开源协议保护。</p>
        <ul class="bs-docs-footer-links text-muted">
            <li>当前版本： v3.3.5</li>
            <li>&middot;</li>
            <li><a href="https://github.com/twbs/bootstrap">GitHub 仓库</a></li>
            <li>&middot;</li>
            <li><a href="../getting-started/#examples">实例精选</a></li>
            <li>&middot;</li>
            <li><a href="http://v2.bootcss.com/">v2.3.2 中文文档</a></li>
            <li>&middot;</li>
            <li><a href="../about/">关于</a></li>
            <li>&middot;</li>
            <li><a href="http://expo.bootcss.com">优站精选</a></li>
            <li>&middot;</li>
            <li><a href="http://blog.getbootstrap.com">官方博客</a></li>
            <li>&middot;</li>
            <li><a href="https://github.com/twbs/bootstrap/issues">Issues</a></li>
            <li>&middot;</li>
            <li><a href="https://github.com/twbs/bootstrap/releases">历史版本</a></li>
        </ul>
    </div>
</footer>